<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://www.xero.com" />
    <add key="EmailAddress" value="mikeformus@gmail.com" />
    <add key="Password" value="Aa1!Aa1!" />
    <add key="ChromeDriverDirectory" value="..\\..\\..\\ThirdParty" />
  </appSettings>
</configuration>